:root {
  --primaryColor: #ce6acbff;
  --secondaryColor: #add8e6;
  --darkGrey: #1a1a1a;
  --lightGrey: #3b3535;
  --black: #000;
  --white: #fff;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--secondaryColor);
}

@font-face {
  font-family: "digital-clock-font";
  src: url("/css/fonts/ds-digib-webfont.woff2");
}

main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#theme-select {
  padding: 0.5rem 5rem;
  margin-top: 1rem;
  background: linear-gradient(to right, #40cbff 55%, #000);
  border: 0;
  color: var(--white);
  border-radius: 3%;
  font-size: 1rem;
  cursor: pointer;
}

#theme-select:hover {
  background: linear-gradient(to left, #000, #40cbff);
}

#watch-container {
  border: 1px solid #000;
  padding: 1.5rem;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.45);
}

#watch-screen {
  border: 1px solid #000;
  padding: 0.5rem 3rem;
  border-radius: 6px;
}

#day {
  max-width: 600px;
  width: 100%;
  color: var(--lightGrey);
}

ul {
  list-style: none;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-between;
}

li {
  color: var(--lightGrey);
}

#time {
  text-align: center;
  font-family: "digital-clock-font", Arial, sans-serif;
  padding: 1rem;
}

#hrsTime {
  font-size: 4rem;
}

#milli-seconds {
  font-size: 1rem;
}

/**themes**/

/**light**/

.light {
  color: var(--darkGrey);
  background-color: var(--white);
}

.silver {
  background-color: rgb(192, 192, 192);
}

/**dark**/

.dark {
  background-color: var(--darkGrey);
}

.black {
  background-color: var(--black);
  color: var(--white);
}